@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.accordion-title {
  color: #4B4C5F;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.accordion-content {
  color: #787887;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; 
}

h1 {
  color: #1E1F36;
  font-size: 32px;
  font-weight: 700;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.rotate-two {
  transform: rotate(0deg);
  transition-duration: 0.5s;
}

@media screen and (min-width: 921px) {
  .card {
    background: rgb(255, 255, 255);
    box-shadow: rgba(53, 18, 122, 0.498) 0px 50px 50px -20px;
    border-radius: 23px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 920px;
    height: 509px;
  }
  
  .mobile-illustration {
    display: none;
  }

  .mobile-pattern {
    display: none;
  }

  .desktop-illustration {
    background-image: url('./images/illustration-woman-online-desktop.svg');
    width: 472px;
    background-repeat: no-repeat;
    background-position: 156% 30%;
    height: 359px;
    position: relative;
    left: -77px;
    top: 100px;
  }

  .box {
    position: relative;
    top: -125px;
    left: -93px;
  }

  .faq-div {
    margin-top: 100px;
    height: 100%;
    width: 325px;
  }

  h1 {
    margin-bottom: 43px;
  }

  .accordion-title {
    margin-left: -10px;
  }

  .accordion-content {
    margin-top: 13px;
    margin-left: 10px;
  }

  .line {
    width: 350px;
    height: 1px;
    background: #E8E8EA;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .arrow {
    width: 12px;
    height: 10px;
    position: relative;
    left: 330px; 
  }

}

